<% provide(:title, "Diagnoses") %>
<h1>Diagnoses</h1>
<% if current_user.doctor? %>
<h2><%= link_to "Create Diagnosis", new_diagnosis_path %></h2>
<% end %>
<h3>All Diagnoses</h3>
<div class="box">
  <table class="table-minimal">
    <tbody>
      <% @diagnoses.each do |diagnosis| %>
      <tr>
        <%= render diagnosis %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
