<% provide(:title, "Diagnosis #{@diagnosis.id}") %>
<h1><%= "Diagnosis #{@diagnosis.id}" %></h1>
<ul id="diagnosis_page">
  <li><%= "Condition: #{@diagnosis.condition}" %></li>
  <li><%= "Prescription: #{@diagnosis.prescription}" %></li>
  <li><%= "User ID: #{@diagnosis.user_id}" %></li>
</ul>
