<td>
  <ul>
    <%= link_to test_result.id, test_result %>
  </ul>
</td>
<td>
  <ul id="test_result_options">
    <% if current_user.receptionist? %>
    <%= link_to("Delete Result", test_result_path(test_result), :data => { :confirm => "Are you sure?" },
        :method => :delete, :class => 'button') %>
    <%= link_to("Edit Result", edit_test_result_path(test_result), :class => 'button') %>
    <% end %>
  </ul>
</td>
