<% provide(:title, "Result #{@test_result.id}") %>
<h1><%= "Result #{@test_result.id}" %></h1>
<ul id="test_result_page">
  <li><%= "Test type: #{@test_result.test_type}" %></li>
  <li><%= "Additional test information: #{@test_result.test_info}" %></li>
  <li><%= "User ID: #{@test_result.user_id}" %></li>
</ul>
