<td>
  <ul>
    <%= link_to user.name, user %>
  </ul>
</td>
<td>
  <ul id="user_options">
    <% if @current_user.admin? %>
    <%= link_to("Delete User", user_path(user), :data => { :confirm => "Are you sure?" },
        :method => :delete, :class => 'button') unless user == current_user %>
    <%= link_to("Edit User", edit_user_path(user),:class => 'button') unless user == current_user %>
    <% end %>
  </ul>
</td>
