<% provide(:title, "Appointments") %>
<h1>Appointments</h1>
<% if current_user.receptionist? %>
<h2><%= link_to "Schedule Appointment", new_appointment_path %></h2>
<% end %>
<%= add_weekly_calendar(@appointments) %>

<h3>Upcoming Appointments</h3>
<% if @upcoming_appointments.any? %>
  <%= render @upcoming_appointments %>
<% else %>
  <p>No appointments yet.</p>
<% end %>
