<td>
  <ul>
    <%= link_to receipt.id, receipt %>
  </ul>
</td>
<td>
  <ul id="receipt_options">
    <% if current_user.receptionist? %>
    <%= link_to("Delete Receipt", receipt_path(receipt), :data => { :confirm => "Are you sure?" },
        :method => :delete, :class => 'button') %>
    <%= link_to("Edit Receipt", edit_receipt_path(receipt), :class => 'button') %>
    <% end %>
  </ul>
</td>
