<% provide(:title, "Receipt #{@receipt.id}") %>
<h1><%= "Receipt #{@receipt.id}" %></h1>
<ul id="receipt_page">
  <li><%= "Total price: #{@receipt.amount_owed}" %></li>
  <li><%= "Items: #{@receipt.items}" %></li>
  <li><%= "User ID: #{@receipt.user_id}" %></li>
</ul>
