<% provide(:title, "Diagnosis") %>
<div class="ui segment">
  <h3>Your Diagnosis</h3>
  <div class="ui list">
      <% @holders.each do |holder| %>
        <% if holder.sender_id == current_user.id || holder.recipient_id == current_user.id %>
          <% if holder.sender_id == current_user.id %>
            <% recipient = User.find(holder.recipient_id) %>
          <% else %>
            <% recipient = User.find(holder.sender_id) %>
          <% end %>
          <div class="item">
          <%if current_user.role == @doctor%>
            <%= link_to recipient.name, holder_prescriptions_path(holder)%>
          <%else %>
            <%= link_to recipient.name, holder_prescriptions_path(holder)%>
          <%end%>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

<div class="ui segment">
  <%if current_user.role == @doctor%>
  <h3>All Patients</h3>
  <div class="ui list">
    <% @users.each do |user| %>
      <% if user.role%>
        <div class="item">
          <%= user.name %>
          <%= link_to 'Diagnose patient',
              holders_path(sender_id: current_user.id,
                                recipient_id: user.id), method: 'post'%>
        </div>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>
